.thowrow {
    direction: ltr;
}
.about-area-2 h1 {

    text-align: left;
}

.about-area-2 p {

    text-align: left;
}

.banner-area-6 .banner-content h1 {

    text-align: left;
}
.banner-area-6 .banner-content p {

    text-align: left;
}

.banner-fact .single-fact .icon {
 
    margin-right: 19px;
}
.about-area-2 .feature-list li {

    text-align: left;
}

.footer.footer-2 .footer-widget h4 {

    text-align: left;
}.footer.footer-2 .footer-widget p {

    text-align: left;
}